PORT=3001
DB_PORT=3306
DB_HOST=localhost
DB_USER=tu_usuario_mysql
DB_PASSWORD=tu_password_mysql
DB_NAME=edulocal
JWT_SECRET=pon_un_secret_largo
GOOGLE_CLIENT_ID=tu_google_client_id
MICROSOFT_CLIENT_ID=tu_application_client_id
MICROSOFT_TENANT_ID=tu_directory_tenant_id
