* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.layout-alumno {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}
/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 15.5dvw;
  background: #003152;
  color: #addff1;
  padding: 15px;
  height: 100dvh;
  z-index: 10;
}
.menu-title {
  margin: 5px;
  text-align: center;
  font-size: 16px;
}

.logo {
  font-size: 16px;
  width: 160px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  height: 25px;
  margin-bottom: 10px;
}
.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile p {
  font-size: 12px;
  text-align: left;
  line-height: 20px;
}
.nav-item {
  display: flex;
  padding: 10px 15px;
  color: #addff1;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 8px;
  gap: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.nav-item:hover {
  background-color: #1f4b69;
}
.nav-item.active {
  color: #003152;
  font-weight: bold;
  background-color: #addff1;
}
/*LADO DERECHO */
.right-side-al {
  margin-left: 15.5dvw;
  width: calc(100dvw - 15.5dvw);
}

/*HEADER */
.header {
  display: flex;
  z-index: 10;
  height: 50px;
  position: fixed;
  top: 0;
  left: 15.5dvw;
  width: calc(100dvw - 15.5dvw);
  justify-content: space-between;
  padding: 15px 25px;
  background: #f5f7fb;
  background-blend-mode: normal;
  box-shadow: 2px 2px 4px 2px rgba(100, 100, 100, 0.5);
}
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #686868;
  margin-right: 20px;
}
.header-right span {
  margin-right: 10px;
}
.header-right svg {
  position: relative;
  top: 5px;
  width: 24px;
  height: 20px;
  fill: #686868;
  margin-left: 5px;
}
.avatar {
  width: 35px;
  border-radius: 50%;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #686868;
}

/*CONTENIDO */

.center {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}
