* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout-profesor {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}
/* SIDEBAR */
.sidebar-profesor {
  position: fixed;
  width: 15.5dvw;
  background: #07191e;
  color: #02f5a1;
  padding: 15px;
  height: 100dvh;
  z-index: 10;
}
.logo-pf {
  font-size: 16px;
  width: 160px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  height: 25px;
  margin-bottom: 10px;
}

.profile-pf {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pf img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #808080;
}

.profile-pf p {
  font-size: 12px;
  text-align: justify;
  line-height: 20px;
}

.menu-title-pf {
  margin: 5px;
  text-align: center;
  font-size: 16px;
}

.nav-item-pf {
  display: flex;
  padding: 10px 15px;
  color: #02f5a1;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 8px;
  gap: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.nav-item-pf:hover {
  background-color: #152d34;
}
.nav-item-pf.active-pf {
  color: #07191e;
  font-weight: bold;
  background-color: #02f5a1;
}

/* Right Side*/
.right-side {
  margin-left: 15.5dvw;
  width: calc(100dvw - 15.5dvw);
}

/*HEADER */
.header {
  display: flex;
  z-index: 10;
  height: 50px;
  position: fixed;
  top: 0;
  left: 15.5dvw;
  width: calc(100dvw - 15.5dvw);
  justify-content: space-between;
  padding: 15px 25px;
  background: #f5f7fb;
  background-blend-mode: normal;
  box-shadow: 2px 2px 4px 2px rgba(100, 100, 100, 0.5);
}
.header-right {
  display: flex;
  color: #686868;
  margin-right: 20px;
  gap: 10px;
}
.header-right span {
  margin-right: 10px;
  position: relative;
  top: -3px;
}
.header-right svg {
  width: 24px;
  height: 20px;
  fill: #686868;
  margin-left: 5px;
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #808080;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #686868;
}

/*CENTER*/

.center-pf {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .sidebar-profesor {
    display: none;
  }
  .right-side {
    margin-left: 0;
  }
  .header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
}
