.admin-actividad-filtros {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.admin-actividad-fechas {
  display: flex;
  align-items: center;
  gap: 8px;
}

.admin-actividad-tabla-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 2px rgba(100, 100, 100, 0.5);
  overflow: hidden;
}

.admin-actividad-header-tabla {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  border-bottom: 1px solid #eee;
}

.admin-actividad-header-tabla p {
  font-size: 12px;
  color: #999;
  margin-top: 2px;
}

@media (max-width: 767px) {
  .admin-actividad-filtros {
    display: grid;
    grid-template-columns: 1fr;
  }
  .filtro-ad {
    width: 100%;
  }
  .filtro-select-ad {
    width: 100%;
  }
  .admin-actividad-header-tabla {
    display: grid;
    grid-template-columns: 180px 1fr;
  }
  .buscador-ad {
    width: 170px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .admin-actividad-filtros {
    display: grid;
    grid-template-columns: 1fr;
  }

  .filtro-ad {
    width: 100%;
  }
  .filtro-select-ad {
    width: 100%;
  }

  .calif-exportar-col {
    width: 100%;
  }
  .btn-exportar-cal {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .exportar-dropdown-cal-pf {
    left: 0;
    right: 0;
    width: 100%;
  }
  .exportar-dropdown-cal-pf button {
    display: flex;
    justify-content: center;
  }
}
