.admin-cursos-summary-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 20px;
}

.admin-summary-sub {
  font-size: 11px;
  color: #999;
}

.btn-agregar-curso {
  background: rgb(202, 1, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.btn-agregar-curso:hover {
  background: rgb(161, 0, 0);
}
